.scrollview-container {
    padding: 100px 0px;
    font-family: "-apple-system, Roboto, sans-serif, serif";
    max-width: 666px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;

    & .content {
        max-width: 460px;
    }

    & .notification {    
        position: -webkit-sticky;
        position: sticky;
        top: 120px;
        font-size: 10px;
        width: 120px;
    }
    & .scroll {
        position: absolute;
        top: 2px;
        right: 0px;
        width: 2px;
        background: #E4E4E4;
    }

    & .scroll-fill {    
        position: absolute;
        top: 2px;
        right: 0px;
        width: 2px;
        background: #000;
    }
    
    & .scrollText {
        color: #E3E3E3;
        font-weight: 600;
        cursor: pointer;    
        
        &.selected {
            color: #000;
        }
    }
    
    & .scrollDot {
        position: absolute;
        left: -3px;
        width: 8px;
        height: 8px;
        background: #E3E3E3;
        border-radius: 50%;

        &.selected {
            background: #000;
        }
    }
}
  